<ul>
  <% @comments.each do |comment| %>
    <% if comment.id.present? %>
      <li>
        <p><br><%= comment.description%><br>
        <% if user_signed_in? && current_user.id  %>
        <%= link_to "delete", [comment.publisher, comment], method: :delete, class:"genric-btn danger-border circle" %>
        <%= link_to "edit ", edit_publisher_comment_path(comment.publisher, comment), class:"genric-btn success-border circle" %></p>
        </li>
        <% end %>
    <% end %>
  <% end %>
<%= render 'comments/form'%>
</ul>