<%= form_for ([@publisher, @publisher.comments.build]) do |f| %>
  <div class="form-group">
  <%= f.text_area :description, class:"single-input", placeholder:"enter comment", class: "form-control"%>
  <%= f.submit " comment", class:"genric-btn info-border circle", class: "btn btn-primary"  %>
  </div>
<%end%>