<p id="notice"><%= notice %></p>

<h1>Welcome to Video page ,This viedo have taken from internet</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>File</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%= video.title %></td>
        <td><p>
        <strong>File:</strong>
        <video controls width="640" height="480" src="<%= video.file %>"></video>
      </p></td>
        
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video', new_video_path %>
